body {



}

.amber-textarea.md-form .prefix.active {
    color: #ffa000;
  }
 .jumbotron{


    opacity: 85%;
} 

.container{

    margin: 20px;
}

.row{
padding: 15px;

}
.past{

    background-color: red;
}

.present{

    background-color: grey;
}
 .future{
    background-color: green; 
} 